<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.son.hinhnendep"
    android:versionCode="2"
    android:versionName="1.1" >
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name="app.ResAppController"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:name="com.son.hinhnendep.ResSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.son.hinhnendep.ResMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.son.hinhnendep.ResFullScreenViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.son.hinhnendep.ResSettingsActivity"
            android:label="@string/action_settings"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

    </application>

</manifest>